hisab/
ceridian_manager/
*.egg-info
*.pot
*.py[co]
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
static/components/
tests/coverage_html/
tests/.coverage
build/
tests/report/
*.css
*.css.map
.sass-cache/
db.sqlite3