$bg-color:#ddd;
$fg-color:#fff;
$color-footer-bg:#263238;
$color-footer-text:#eee;

$color-header-bg:#03a9f4;
$color-header-text:#ffffff;

$color-btn-primary-bg:#03a9f4;
$color-btn-primary-bg-hover:darken($color-btn-primary-bg,10);
$color-btn-primary-border:darken($color-btn-primary-bg,7);

$color-btn-danger-bg:#f44336;
$color-btn-danger-bg-hover:darken($color-btn-danger-bg,10);
$color-btn-danger-border:darken($color-btn-danger-bg,7);

$color-btn-success-bg:#4caf50;
$color-btn-success-bg-hover:darken($color-btn-success-bg,10);
$color-btn-success-border:darken($color-btn-success-bg,7);

.color-primary{
	color:$color-header-bg;
}
body{
    background-color:$bg-color;
	font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,.heading{
	font-family: 'Slabo 27px', serif;
}
label{
	font-family: 'Roboto', sans-serif;

}
.btn{
	border-radius:2px;
	text-transform:capitalize;

}
.btn-default{
	background-color:$color-btn-primary-bg;
	border-color:$color-btn-primary-border;
	&:hover{
		background-color:$color-btn-primary-bg-hover;
		border-color:$color-btn-primary-border;
	}
}
.btn-danger{
	background-color:$color-btn-danger-bg;
	border-color:$color-btn-danger-border;
	&:hover{
		background-color:$color-btn-danger-bg-hover;
		border-color:$color-btn-danger-border;
	}
}
.btn-success{
	background-color:$color-btn-success-bg;
	border-color:$color-btn-success-border;
	&:hover{
		background-color:$color-btn-success-bg-hover;
		border-color:$color-btn-success-border;
	}
}
.btn-danger{

}
.errorlist{
    padding-left:0px;
    li{
        font-weight:bold;
        font-size:smaller;
        color:red;
        list-style:none;
    }
}

.header{
    background:url('../img/header-bg.jpg') no-repeat center center;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

//	background-color:$color-header-bg;
	.container{
//	    background-color:$color-header-bg;
	}
	.jumbotron{
      background-color:transparent;//$color-header-bg;
        p{
            font-weight:bold;
        }
	}
	margin-bottom:20px;
	color:$color-header-text;

}
.footer{
	margin-top:30px;
	background-color:$color-footer-bg;
	padding-top:30px;
	padding-bottom:70px;
	font-size:0.8em;
	color:$color-footer-text;
}

/**
For DEBUG
**/
.border{
	border:1px solid black;
}
