{% load staticfiles %}
<!Doctype html>
<html>
	<head>
		<title>Hisab</title>
		<link href="{% static 'components/bootstrap/dist/css/bootstrap.css' %}" type="text/css" rel="stylesheet"/>
		<link href="{% static 'components/font-awesome/css/font-awesome.css' %}" type="text/css" rel="stylesheet"/>
		<link href="{% static 'hisab/css/main.css' %}" type="text/css" rel="stylesheet"/>
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
	</head>
	<body>

			<div class="header container-fluid">
				{%block header%}
					<div class="jumbotron">
				  	<div class="container">
				  	<h1><i class="fa fa-stack"><i class="fa fa-stack-2x fa-circle"></i><i class="fa fa-inr fa-stack-1x color-primary"></i></i> Hisab</h1>
				  		<p>Manage transaction between groups <i class="fa fa-users"></i></p>
				  	</div>
					</div>
				{%endblock%}
			</div>
			<div id="body">
				<div class="body container">
					{%block body%}
					{%endblock%}
				</div>
			</div>
			<div class="footer container-fluid">
				{%block footer%}
					<p>Override footer block to remove this message</p>
				{%endblock%}
			</div>

	</body>
	<script src="{% static 'components/jquery/dist/jquery.min.js'%}"></script>
	<script src="{% static 'components/bootstrap/dist/js/bootstrap.min.js'%}"></script>
	{%block script%}
	{%endblock%}
</html>
